.cardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  background-color: white;

  .card {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
    padding: 1rem;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 50px;
      font-size: 19px;
      border-radius: 10px;
    }
  }
}
